/**/*/composer.phar
/**/*vendor/
/**/*/composer.lock
/**/*/node_modules/
/**/*/uploads
/**/*/cache/
/**/*/sessions/
/**/*/logs
/**/*/build/
.vscode/
.idea/
.gemini/
/**/*/dist/
/**/*/package-lock.json