includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 5 for start
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - app/Providers/*

    reportUnmatchedIgnoredErrors: false
